/* *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, nav, main, footer, section {
    display: block;
}

html {
    font-size: 16px;
    scroll-padding-top: 100px;
}

body {
    background-color: lightgrey;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

a {
    color: darkslategrey;
    text-decoration: none;
}

.desktop {
    display: none;
}

.mobile li {
    display: inline;
    font-size: 1.5rem;
    padding: 0.9rem;
}

.mobile {
    background-color: white;
    padding: 1rem 0;
}

#jonBtn {
    background-color: lightgreen;
    border-radius: 0.5rem;
    padding: 0.1rem 0.6rem;
    color: white;
}

.main-content {
    background: url("https://images.unsplash.com/photo-1519458246479-6acae7536988?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1500&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 20rem;
    width: 100%;
}

.cursive {
    font-family: "Damion", cursive;
}

.striking {
    font-family: "Rubik", sans-serif;
} */

/* Universal Styles */

html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.main-content {
    background: url("images/banner-landingpage.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 20rem;
    width: 100%;
    /* position: relative; */
    /* top: 5.3125rem; */
    /* To offset for fixed header. */
}

.center {
    text-align: center;
}

/* .button {
    border-radius: 4px;
    background-color: #4a4a4a;
    color: white;
} */

/* Header */

header {
    position: fixed;
    width: 100%;
    border-bottom: solid 1px #c6c1c1;
    background-color: white;
}

header .content {
    display: flex;
    align-items: center;
    padding: 1.875rem;
}

header .logo {
    flex: 1;
}

header nav ul {
    display: flex;
}

nav li {
    padding-left: 3.5rem;
}

nav a {
    vertical-align: bottom;
    line-height: 1.6;
    font-size: 1rem;
    color: #4a4a4a;
}

header .icon {
    width: 1rem;
    padding-left: .75rem;
}

header .mobile {
    display: none;
}

/* bg img */

.content .center {
    padding: 0rem
}

.main-content .header {
    padding: 9rem 0rem 0rem 0rem;
    color: white;
    text-align: center;
    font-size: 2rem;
}

/* Sign Up Section */

#sign-up-section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 6rem;
}

#sign-up-cta {
    display: none;
}

#sign-up-cta .content {
    width: 25.625rem;
    margin-top: 2rem;
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    line-height: 1.4;
    color: white;
}

#sign-up-cta h1 {
    font-size: 3.125rem;
}

#sign-up-cta h2 {
    font-size: 2.25rem;
}

#sign-up-cta span strong {
    font-weight: bold;
}

.cursive {
    font-family: "Damion", cursive;
    padding-bottom: .25rem;
}

.striking {
    font-family: "Rubik", sans-serif;
    padding-bottom: .75rem;
}

#sign-up-cta .button {
    margin-top: 1.625rem;
    padding: 1.25rem 7.25rem;
}

/* Features Section */

#features-section {
    display: flex;
    justify-content: center;
    padding: 4rem 5%;
    background-color: #f3f3f3;
    /* justify-content: space-between; */
}

.feature {
    flex: 1;
    padding: 2rem;
    margin: 0px 1.25rem;
}

.feature:first-child {
    background-color: lightgray;
    margin-top: 1rem;
}

.feature .image-container {
    width: 90%;
    height: 65%;
    margin: 0 auto;
}

.feature .image-container img {
    width: 15rem;
}

.feature h2 {
    padding-bottom: .5rem;
    font-size: 2.25rem;
    font-weight: bold;
    color: #4a4a4a;
}

.feature h3 {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 300;
    color: #4a4a4a;
}

.features-section .content {
    padding: 1rem;
}

.feature .center .content h3 {
    margin-bottom: 1rem;
}

/* Filters Section */

#filters-section {
    padding: 4rem 0;
    background-color: #4a4a4a;
    height: 13.3rem;
}

#filters-section .content {
    padding: 0 .625rem;
    margin-bottom: 5rem;
}

#filters-section .content h2 {
    font-size: 2.25rem;
    font-weight: bold;
    color: white;
}

#filters-section .content h3 {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 300;
    color: white;
}

#filters-section .images-container {
    max-width: 100%;
    padding: 0 1%;
    display: flex;
}

.image-container {
    width: 100%;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
}

/* Quotes Section */

#quotes-section {
    background-color: #f3f3f3;
}

#quotes-section .content {
    padding: 2rem 0;
}

#quotes-section .quote {
    padding-right: 1.875rem;
    font-family: "Palatino", serif;
    font-size: 1.875rem;
    line-height: 1.1;
    font-style: italic;
    color: #4a4a4a;
}

#quotes-section .quote-citation {
    height: 1.875rem;
    margin-top: 1rem;
}

/* Footer */

footer {
    background-color: #9b9b9b;
    padding: 1.5rem 0.3rem;
}

footer .content {
    color: white;
    display: flex;
    font-size: .75rem;
}

footer .copyright {
    flex-grow: 1;
}

.copyright, .location {
    font-size: 0.6rem;
}

/* Media Queries */

@media only screen and (min-width: 408px) {
    .image-container img {
        height: 7.8rem;
    }
}

@media only screen and (max-width: 450px) {
    #sign-up-section {
        height: 20rem;
    }
    #sign-up-cta h1 {
        font-size: 2.25rem;
    }
    #sign-up-cta h2 {
        font-size: 2rem;
    }
    /* .image-container {
        width: 9rem;
    } */
}

@media only screen and (min-width: 451px) {
    .feature .image-container img {
        width: 18rem;
        height: 15rem;
    }
    /* Footer */
    .copyright, .location {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 760px) {
    /* Header */
    header .desktop {
        display: none;
    }
    header .mobile {
        display: block;
        width: 100%;
    }
    header .content {
        padding: .5rem 0;
    }
    header .mobile ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    header .mobile li {
        padding: 0;
    }
    header .mobile .button {
        padding: .1875rem .5rem;
        background-color: #9dc20b;
        line-height: 1.6;
        color: white;
        border-radius: 4px;
    }
    /* bg img */
    .main-content {
        top: 2.5625rem;
    }
    /* Sign Up Section */
    #sign-up-section {
        align-items: center;
        justify-content: center;
        height: 28rem;
    }
    #sign-up-cta {
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
        border: none;
    }
    #sign-up-cta .content {
        margin-top: 0;
    }
    #sign-up-cta .email {
        display: none;
    }
    #sign-up-cta h1 {
        font-size: 3.125rem;
    }
    #sign-up-cta h2 {
        font-size: 2.25rem;
    }
    /* Features Section */
    #features-section {
        flex-flow: column;
        padding: 0;
    }
    .feature {
        margin: 0;
        padding: 1.25rem 1rem 0 1rem;
    }
    /* Filters Section */
    #filters-section {
        padding: 1.5rem 0 0 0;
    }
    #filters-section .content {
        margin-bottom: 1rem;
    }
    #filters-section .content h2 {
        padding-bottom: .625rem;
        font-size: 1.125rem;
        line-height: 1.3;
        font-weight: normal;
    }
    #filters-section .content h3 {
        font-size: .875rem;
        line-height: 1.4;
    }
    #filters-section .images-container {
        padding: 0;
    }
    #filters-section .extra {
        display: none;
    }
    /* Quotes Section */
    #quotes-section content {
        padding: 1.875rem .625rem;
    }
    #quotes-section quote {
        font-size: 1.5rem;
        line-height: 1.4;
    }
    #quotes-section quote-citation {
        display: block;
        padding-top: 1rem;
        margin: auto;
    }
    /* Footer */
    footer .content {
        font-size: .625rem;
    }
}

@media only screen and (min-width: 761px) {
    /* Features Section */
    .feature:first-child {
        margin-top: 0rem;
    }
    #features-section .feature {
        background-color: white;
    }
    #features-section {
        padding: 2rem 5%;
        margin-top: 6rem;
    }
}

@media only screen and (min-width: 891px) {
    /* Header */
    header .desktop .button, #joinUs {
        display: none;
    }
    .content .desktop.logo .desktop ul li {
        padding-left: 0rem;
    }
    /* bg img */
    .main-content {
        height: 36rem;
    }
    /* Sign Up Section */
    #sign-up-cta {
        display: block;
        padding: 0rem;
        border: solid 1px #979797;
        border-radius: 4px;
        background-color: #9dc20b;
    }
    .small-screens.header .cursive, .small-screens.header .striking {
        display: none;
    }
    #sign-up-cta {
        margin-left: 3rem;
        padding: 0.3rem 2rem 2rem;
    }
    .content.center .email .button {
        border-radius: 4px;
        background-color: #4a4a4a;
        color: white;
    }
    /* Features Section */
    #features-section {
        margin-top: 21rem;
        padding-top: 0.5rem;
        background-color: lightgray;
        margin-top: 20rem;
    }
    #features-section .feature {
        background-color: white;
    }
    .feature:first-child {
        margin-top: 0rem;
    }
    /* Filters Section */
    #filters-section {
        height: 16rem;
    }
    .image-container img {
        height: 9.8rem;
    }
    #filters-section .content {
        margin-bottom: 2rem;
    }
    /* Footer */
    #filters-section .content h3 {
        font-size: 2rem;
    }
    .copyright, .location {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 890px) {
    /* Header */
    header .desktop .button {
        padding: .1875rem .5rem;
        background-color: #9dc20b;
        line-height: 1.6;
        color: white;
        border-radius: 4px;
    }
    /* Features Section */
    .feature h2 {
        font-size: 1.125rem;
        line-height: 1.3;
        font-weight: normal;
    }
    .feature h3 {
        font-size: .875rem;
        line-height: 1.4;
    }
}

@media only screen and (min-width: 1355px) {
    /* Filters Section */
    .image-container img {
        height: 12.8rem;
    }
}